<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<applicationModules>
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add title="Audit Trail - Elasticsearch" description="Logs audit events to an Elasticsearch instance." moduleId="00000000-0000-0000-0000-000000000000" type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=9.1.6110.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="Disabled" name="ElasticsearchAudit" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.TypeSettings, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CustomStrategyTypeSettings, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.PropertyMapping, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.ComplexPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.Properties.ClassPropertyMapping, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
	</typeImplementationsMapping>
</systemConfig>